    <div id="navbar">
        <nav style="width: 100%;" class="navbar navbar1 navbar-expand-lg navbar-light">
            <a href="{% url 'index' %}">
                <img src="https://i.imgur.com/xK5mTTy.png" class="logo-navbar" href="{% url 'index' %}">
            </a>
            <button style="border: none;" class="navbar-toggler" onclick="show(event);" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <button style="border: none;" class="navbar-toggler" onclick="show(event);" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'program' %}">PROGRAM</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'news' %}">BERITA</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'register' %} ">PENDAFTARAN</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'donasi' %}">SUBMIT DONASI</a>
                </li>
                </ul>
            </div>
        </nav>
    </div>