{% extends "base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/design.css' %}">

<title>Pendaftaran Donatur</title>
<div class="header">
    <p class="besar">AYO <strong>MENJADI</strong> DONATUR DI DONAT.in</p>
    <hr>
    <p class="kecil">Langkah <strong>kecil</strong> menuju perubahan yang <strong>besar</strong></p>
</div>
<form id="regist" method="POST" action="{% url 'register' %}">
    {% csrf_token %}
    {{reg_form}}
    <br>
    <div class="finish">
        <input type="checkbox" name="check" value="Agree" checked> Saya setuju dengan <strong>Syarat dan
        Ketentuan</strong> Donasi di <strong>DONAT</strong>.in
        <br><br>
        <button type="submit" class="btn" style="background-color: #60BA6E; color: #ffff"><strong>SUBMIT</strong>
        </button>
    </div>
</form>

{% endblock %}   
