{% extends 'base.html' %}
{% block content %}
<head>
	{% load static %}
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'program/style.css' %}">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Donat.in</title>
</head>
<body>
	<div class="main-image">
		<div class="main-image-text  d-flex justify-content-center">
			<div class="background"><h3><i>"DONASIKAN SEBAGIAN UANG ANDA UNTUK MEMBUAT DUNIA YANG LEBIH BAIK"</i></h3></div>
		</div>
	</div>

	<div class="judul" style="font-size: 3.2vw;">
		SELAMAT DATANG DI <b>DONAT.in</b>
		<hr>
	</div>

	<br>
	<br>
	<div class="first-definition">
		<br>
		<p style="margin-left: 2vw; margin-right: 2vw;">Ratusan juta rupiah uang telah terkumpul melalui donat.in untuk membantu sesama manusia yang membutuhkan. Kita hidup tidak sendirian di dunia ini, alangkah baiknya apabila kita saling membantu. Yuk, daftar jadi donatur sekarang.
		</p>
		<br>
		<br>
		<button type="button" class="btn btn-success" style="margin:auto;
  		display:block;" onclick="window.location='{% url 'register' %}'">DAFTAR DONATUR</button>
  		<br>
  		<br>
	</div>
	<br>
	<br>
	<br>
	<br>
	<div class="second-definition">
		DONAT.in merupakan website galang dana yang bertujuan untuk menghimpun dana dari para donatur untuk kemudian disalurkan kepada yang membutuhkan. Kami berterimakasih kepada para donatur yang sudah mendonasikan dana melalui donat.in, semoga amal kebaikan para donatur dibalas oleh tuhan.
	</div>
	<br>
	<br>
	<br>
	<br>
{% endblock %}