{% extends 'base.html' %}
{% block content %}
{% load humanize %}

<head>
	{% load static %}
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'program/style.css' %}">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Program Donasi</title>
	<style type="text/css">
		.before{
			text-decoration: underline;
			margin-left: 5%;
		}
		.center{
			margin-bottom: 5%
		}
		.btn{
			background-color: #63C46D;
			color: white;
			border:2px solid #63C46D;
			border-radius: 12px;
		}
		.btn:hover{
			background-color: #ffffff;
			color: #63C46D;
			border:2px solid #63C46D;
			border-radius: 12px;
		}

		.shadow{
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			text-align: center;
		}

		.card{
			border-radius: 12px;
		}

		.card-img-top{
			border-radius: 12px 12px 0 0;
		}
	</style>
</head>

	<div class="main-image">
		<div class="main-image-text d-flex justify-content-center">
			<div class="background"><h3><i>"Kita Diciptakan Dengan Dua Tangan, Satu Untuk Kita Dan Satu Lagi Untuk Membantu Orang Lain"</i></h3></div>
		</div>
	</div>

	<div class="judul">
		<h2>TELUSURI PROGRAM <b>DONASI</b></h2>
		<hr>
	</div>
			

	</div>
	<br>
	<br>
	<div class="container">
	<div class="row">
		<div class="card-deck">
		{% for data in Programs %}
		<div class="col-xl-4" style="margin-bottom: 5%">
			<div class="card shadow">
		    	<img class="card-img-top" src="{{ data.imageUrl }}" alt="Card image cap">
		    	<div class="card-body">
		      	<p class="card-text" style="font-size: 24px">{{ data.programTittle }}</p>
		      	<p class="card-text text-left"><small class="text-muted">{{ data.publisher }}</small></p>
		      	<div class="text-left"><h5>{{ data.donasiTerkumpul | intcomma }}</h5></div>
		      	{% if data.checkingGoals %}
		      		<div class="text-left"><b style="color:#63C46D; font-size: 16px">Goals Tercapai!</b></div>
		      	{% else %}
		      		<div class="text-left" style="font-size: 12px;color:#63C46D">terkumpul dari Rp. {{data.targetDonasi|intcomma}}</div>
		    	{% endif %}
		    	</div>
		  	
		{% if user.is_authenticated %}
			<div class="center d-flex justify-content-center">
                <a href="{% url 'donasi' %}" class="btn btn-default" style=""><strong>DONASI SEKARANG</strong></a>
                    <br>
            </div>
        {% else %}
        	<div class="center d-flex justify-content-center">
                <a href="{% url 'login' %}" class="btn btn-default" style=""><strong>DONASI SEKARANG</strong></a>
                    <br>
            </div>
        {% endif %}
        	</div>
        </div>
		{% endfor %}
		</div>
	</div>
	</div>
	<br>
	
{% endblock %}


 <!--<a class="isi kembali" style="text-decoration: underline;" href="{% url 'programs:list_donatur' program=program.pk %}">List Donatur</a> {% url 'donasi' program=program.pk %} {% url 'login' %}
 <button type="button" class="btn btn-success" style="margin:auto;
  display:block;" onclick="window.location='{% url 'donasi' %}'">BUAT DONASI</button>


		<div class="row">
			
			<div class="card-deck">
			{% for data in Program %}
			<div class="col-xl-4">
				<div class="container card shadow">
		    		<img class="card-img-top" src="{{ data.image }}" alt="Card image cap">
		    		<div class="card-body">
		      			<p class="card-text">{{ data.description }}</p>
		      			<p class="card-text"><small class="text-muted">{{ data.donatur }}</small></p>
		    		</div>
		  	
		  		{% if user.is_authenticated %}
				<div class="center d-flex justify-content-center">
                	<a href="{% url 'donasi' %}" class="btn btn-default" style=""><strong>DONASI SEKARANG</strong>
                	</a>
            	</div>
        		{% else %}
            	<div class="center d-flex justify-content-center">
                	<a href="{% url 'login' %}" class="btn btn-default" style=""><strong>DONASI SEKARANG</strong></a>
                    	<br>
            	</div>
        		{% endif %}
        		</div>
			</div>
			{% endfor %}
			
			</div>
		</div>
	<br>

-->
