{% extends "base.html" %}
{% load static %}
{% load staticfiles %}
{% block content %}
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link href='https://fonts.googleapis.com/css?family=Fira Sans' rel='stylesheet'>
	<link rel="stylesheet" type="text/css" href="{% static 'css/news.css' %}">
	<title>Berita Terkini</title>

	<!--header-->
	<div class="container-fluid img-fluid" style="background-image: url({% static 'image/30583.jpg' %});position:relative; height: 500px;
			background-position: center;background-repeat: no-repeat;background-size: cover;">
		<div class="jumbotron jumbotron-fluid">
		<div class="container">
			<div class="text-center" style="text-align: center; color:white;margin-top: 10%;"><mark style="background-color: transparent; color:white;font-size: 2vw"><i>"Uluran tangan anda dapat membuat hidup orang lain lebih baik"</i></mark></div>
		</div>
		<div class="mt-5">
			<form class="mb-5 d-flex justify-content-center">
				<button class="btn btn-default btn-default-create btn-center my-button" style="background-color: #63C46D;" formaction="{% url 'program' %}"><div><strong>Lihat Program</strong></div></button>
			</form>	
		</div>
		</div>
	</div>

	<div class="container">
		<div class="border-bottom text-center mt-4 mb-5 rounded-bottom">
			<div class="mb-3"><h3>TELUSURI <strong>BERITA</strong></h3></div>
		</div>
	</div>
	
	<div class="container">
	<div class="row">
		<div class="card-deck">
		{% for data in Programs %}
		<div class="col-xl-4 d-flex align-items-stretch" style="margin-bottom: 5%; max-height: 80%">
			<div class="card shadow">
		    	<img class="card-img-top" src="{{ data.imageUrl }}" alt="Card image cap">
		    	<div class="card-body">
		      	<p class="card-text" style="font-size: 24px; text-align: center">{{ data.programTittle }}</p>
		      	<p class="card-text text-left"><small class="text-muted">{{ data.publisher }}</small></p>
		      	<div>{{ data.description }}</div>
		    	</div>
        	</div>
        </div>
		{% endfor %}
		</div>
	</div>
	</div>
	
	{% endblock %}

<style type="text/css">

</style>
<script type="text/javascript">
	
</script>
<!--
	berita
	{% for data in news %}
	<div class="container mt-4 mb-4">
			<div class="row border flex-row">
				<div class="col-md-4 border-0">
					<img class="img-thumbnail img-fluid img-center border-0" style="top:50%; " src="{{data.img_news}}">
				</div>
				<div class="col-md-8 border-0" style="background-color: #E1F7E4; border-radius: 6px">
					<h1 class="card-title">{{data.title}}</h1>
					<p class="card-text">{{data.full_description}}</p>		
				</div>
			</div>
	</div>
	{% endfor %}
-->