<footer>
    <div class="footer">
        <table>
        <tr>
        <th><img src="https://i.imgur.com/xK5mTTy.png" class="logo-footer"></th>
        <th></th>
        <th><div class="footer-text" style="margin-left: 50vw;">
                    <p>Learn More</p>
                    <br>
                    <p>Apa itu DONAT.in?</p>
                    <p>Fitur dan Harga</p>
                    <p>Help Center</p>
                    <p>Syarat dan Ketentuan</p>
                    <p>Kebijakan Privasi</p>
        </div></th>
        <th>
            <div class="footer-text" style="margin-left: 4vw;">
                <p>Connect</p>
                <br>
                <p>Our Team</p>
                <p>Karir</p>
                <p>Blog</p>
                <br>
                <br>
            </div>
        </th>
        </tr>
    </table>
    </div>
</footer>