{% extends "base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/design.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'program/style.css' %}">


<div class="header">
    <p style="font-size: 28px"><strong>PROFIL DONATUR</strong></p>
    <hr>
</div>

{% if user.is_authenticated %}
<div class="introducing text-center">
    <h4><strong>Halo, {{ user.username }}!</strong></h4>
    <h4>Ingin memberi bantuan?</h4>
    <button type="button" class="btn btn-success" style="margin:auto;
display:block;" onclick="window.location='{% url 'donasi' %}'">BUAT DONASI</button>
</div>

<hr style="margin-bottom: 16px;">
<div style="margin-left: 16px;">
    <p><b>First Name</b> : {{ user.first_name }} </p>
    <p><b>Last Name</b> : {{ user.last_name }} </p>
    <p><b>Username</b> : {{ user.username }} </p>
    <p><b>Email</b> : {{ user.email }} </p>
    <a style="text-decoration: underline;" href="{% url 'logout' %}"><i class="fa fa-sign-out" aria-hidden="true"></i>Logout</a>
</div>

<div class="header">
    <p style="font-size: 28px">DAFTAR DONASI di<strong> DONAT.in</strong></p>
    <hr>
</div>
<div class="tabel col-md-12 text-center">
    <table style="width: 100%; background-color: #E1F7E4;">
        <thead>
            <th>No</th>
            <th>Tanggal</th>
            <th>Nama Program</th>
            <th>Jumlah Donasi</th>
        </thead>
        <tbody>
            {% for i in daftar_donasi %}
            <tr class = "warning">
                <td> {{forloop.counter}} </td>
                <td> {{i.time}} </td>
                <td> {{i.program}} </td>
                <td> {{i.amount}} </td>
            {% endfor %}
            </tr>
        </tbody>
    </table>
</div>
<p class="introducing text-center" style="font-size: 18px;">Total Donasi : {{ totalDonasi }}</p>

{% else %}
<div class="first-definition">
    <a style="text-decoration: underline;" href="{% url 'login' %}"><i class="fa fa-sign-out" aria-hidden="true"></i>Login terlebih dahulu untuk melihat profil!</a>
</div>
{% endif %}

{% endblock %}