input[type=text], select, textarea {
		width: 98%; /* Full width */
		padding: 12px; /* Some padding */  
		border: 1px solid #000000; 
		background-color: #F3FBF4;
		border-radius: 0px; 
		box-sizing: border-box; /* Make sure that padding and width stays in place */
		margin-top: 3vw; /* Add a top margin */
		margin-bottom: 8vw; /* Bottom margin */
		resize: vertical /* Allow the user to vertically resize the textarea (not 
		horizontally) */
		}
		#testimoni-donat-in{
			text-align: center; font-family:helvetica; font-size: 7vw; margin-top: 1vw; margin-bottom: 1vw;
		}
		#testimoni-anda-dibawah{
			font-size: 2vw; font-family: helvetica; margin-left: 2vw;
		}
		#field{
			margin-right: 2vw; margin-left: 2vw; margin-bottom: 2vw;
		}
		#login-untuk-dapat{
			text-align: center; font-family: helvetica; font-size: 2vw; margin-top: 3vw;
		}
		#card{
			margin-bottom: 1vw; margin-left: 2vw; margin-right: 2vw;
		}