<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>DONAT.in</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<link href='https://fonts.googleapis.com/css?family=Fira Sans' rel='stylesheet'>

<style type="text/css">
    .logo-navbar{
        width: 7.5vw;
        height: 5vw;
    }
    
    .footer{
			position: relative;
			left: 0;
			bottom: 0;
			width: 100%;
			background-color: #F3F3F3;
			color: #000000;
			padding: 40px;
		}
    .logo-footer{
        width: 11.25vw;
        height: 7.5vw;
        margin-left: 3vw;
        margin-top: 2vw;
        margin-bottom: 5vw;
    }
    .footer-text{
        text-align: left;
        font-family: arial !important;
        font-size: 1vw !important;
        margin-top: 2vw;
        color:gray;
    }

    #user{
        margin:0% 3%;
    }
</style>
<body>
<div id="navbar">
    <nav style="width: 100%;" class="navbar navbar1 navbar-expand-lg navbar-light">
        <a href="{% url 'index' %}">
            <img src="https://i.imgur.com/xK5mTTy.png" class="logo-navbar">
        </a>
        <button style="border: none;" class="navbar-toggler" onclick="show(event);" type="button" data-toggle="collapse"
                data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="user">
            {% if user.is_authenticated %}
            <p>Hi, <a class="lead" href="{% url 'logout' %}">{{ user.username }}</a> !</p>
            {% else %}
            <button type="button" class="btn btn-light">
                <a class="lead" href="{% url 'login' %}">Log in</a>
            </button>
            {% endif %}
        </div>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'program' %}">PROGRAM</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'news' %}">BERITA</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'register' %}">PENDAFTARAN</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'donasi' %}">SUBMIT DONASI</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
{% block content %}
{% endblock %}
</body>
<footer>
    <div class="footer">
        <table>
            <tr>
                <th><img src="https://i.imgur.com/xK5mTTy.png" class="logo-footer"></th>
                <th></th>
                <th>
                    <div class="footer-text" style="margin-left: 50vw;">
                        <p>Developed by:</p>
                        <br>
                        <p>Grahana Daffa H 1706074700</p>
                        <p>Janitra Ariena Sekarputri 1706979316</p>
                        <p>Nur Rifandy 1706984695</p>
                        <p>Muhammad Anwar Farihin 1706039635</p>
                    </div>
                </th>
            </tr>
        </table>
    </div>
</footer>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</html>
