<!DOCTYPE html>
{% extends "base.html" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Donat.in</title>
</head>
<body>
	{% block content %}
	<p>Hello, world! This page will be a crowd funding website, please come back later.</p>
	{% endblock %}
</body>
</html>