{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
	{% load static %}
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'testimoni.css' %}">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script type="text/javascript" src="{% static 'testimoni.js' %}"></script>


	<title>Testimoni</title>
</head>
<body>
<p id="testimoni-donat-in">
	ABOUT DONAT.IN
</p>
<div id='back'>
<br>
<p id="about">
	Donat.in adalah sebuah platform yang menghimpun dana dari masyarakat untuk membatu saudara-saudara kita yang membutuhkan. Donat.in didirikan tahun 2018 oleh empat orang mahasiswa yang memiliki cita-cita untuk memberi kesejahteraan bagi saudara-saudara kita yang terkena musibah. Donasi sekarang dan #jadiPahlawan untuk kemanusiaan.
</p>
<br>
<br>
<br>
<p id="about">
	Meet The Team
</p>
<br>
<img src="https://i.imgur.com/CSsATCH.jpg" style="width: 60%; margin-left: auto; margin-right: auto; display: block;">
<br>
</div>
<br>
<br>
<br>

<br>
<br>
<br>
<p id="testimoni-donat-in">
	Testimoni Donat In
</p>
{% if user.is_authenticated %}
	<p id="testimoni-anda-dibawah">Masukkan testimoni anda dibawah ini</p>
	<div id='contain_form'>
	<form method="POST" id="field">
		{% csrf_token %}
		{% for field in form %}
			<p>{{ field.label_tag }}{{ field }}</p>
		{% endfor %}
		<input type="submit" value="Submit" id="submit">
	</form>
	</div>
{% else %}
	<p id="login-untuk-dapat">Login untuk dapat membuat testimoni</p>
{% endif %}
<p id="hai"></p>
</body>
</html>
{% endblock %}