{% extends "base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/design.css' %}">

<div class="header">
    <p style="font-size: 28px"> SUBMIT <strong>DONASI</strong></p>
    <hr>
</div>

<form method="POST" class="post-form" id="urldonasi">
    {% csrf_token %}
    {{ form.as_p }}

    {% if message %}
    <p style="color:red">
        {{ message }}
    </p>
    {% endif %}

    {% if done %}
    <p style="color:green">
        {{ done }}
    </p>
    {% endif %}

    <div class="finish">
            <br>
            <br>
        <button type="submit" class="btn" style="background-color: #60BA6E; color: #ffff;"><strong>KIRIM DONASI</strong>
        </button>
    </div>
</form>
{% endblock %}
