body,html{
	height: 100%;
}

.border{
	border-radius: 6px;
}

.card-img{
	width:40px;
}

.jumbotron{
	background-color: transparent;
}

.btn-center{
	color: #000000;
	bottom:25%;
	padding-right: 5%;
	padding-left: 5%;
	position: absolute;
}

.btn-default-create{
	background-color: white;
	font-size: 25px;
	color:white;
	text-align: center;
}

.logo-navbar{
    width: 7.5vw;
    height: 5vw;
}

.footer{
        position: relative;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: #F3F3F3;
        color: #000000;
        padding: 40px;
    }
.logo-footer{
    width: 11.25vw;
    height: 7.5vw;
    margin-left: 3vw;
    margin-top: 2vw;
    margin-bottom: 5vw;
}
.footer-text{
    text-align: left;
    font-family: arial;
    font-size: 1vw;
    margin-top: 2vw;
    color:gray;
}