.header {
    background-color: #E1F7E4;
    text-align: center;
    font-family: "Fira Sans";
    padding: 40px;
    }
.besar {
    font-size: 28px;
}
.kecil {
    font-size: 20px;
}
#regist {
    text-align: left;
    width: 100%; /* Full width */
    padding: 40px; /* Some padding */  
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}
.finish {
    text-align: center;
    padding: 40px;
}
input[type=text], select, textarea {
width: 100%; /* Full width */
padding: 12px; /* Some padding */  
border: 1px solid #000000; 
background-color: #F3FBF4;
border-radius: 0px; 
box-sizing: border-box; /* Make sure that padding and width stays in place */
margin-top: 6px; /* Add a top margin */
margin-bottom: 16px; /* Bottom margin */
resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}
input[type=date] {
width: 100%; /* Full width */
padding: 12px; /* Some padding */  
border: 1px solid #000000; 
background-color: #F3FBF4;
border-radius: 0px; 
box-sizing: border-box; /* Make sure that padding and width stays in place */
margin-top: 6px; /* Add a top margin */
margin-bottom: 16px; /* Bottom margin */
resize: vertical 
}
input[type=email] {
width: 100%; /* Full width */
padding: 12px; /* Some padding */  
border: 1px solid #000000; 
background-color: #F3FBF4;
border-radius: 0px; 
box-sizing: border-box; /* Make sure that padding and width stays in place */
margin-top: 6px; /* Add a top margin */
margin-bottom: 16px; /* Bottom margin */
resize: vertical 
}
input[type=password] {
width: 100%; /* Full width */
padding: 12px; /* Some padding */  
border: 1px solid #000000; 
background-color: #F3FBF4;
border-radius: 0px; 
box-sizing: border-box; /* Make sure that padding and width stays in place */
margin-top: 6px; /* Add a top margin */
margin-bottom: 16px; /* Bottom margin */
resize: vertical 
}
.logo-navbar{
    width: 7.5vw;
    height: 5vw;
}
.footer{
        position: relative;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: #F3F3F3;
        color: #000000;
        padding: 40px;
    }
.logo-footer{
    width: 11.25vw;
    height: 7.5vw;
    margin-left: 3vw;
    margin-top: 2vw;
    margin-bottom: 5vw;
}
.footer-text{
    text-align: left;
    font-family: Roboto;
    font-size: 1.2vw;
    margin-top: 2vw;

}