		.footer{
			left: 0;
			bottom: 0;
			width: 100%;
			background-color: #F3F3F3;
			color: #000000;
		}
		.logo-footer{
			width: 11.25vw;
			height: 7.5vw;
			margin-left: 3vw;
			margin-top: 2vw;
			margin-bottom: 5vw;
		}
		.footer-text{
			text-align: left;
			font-family: helvetica;
			font-size: 1.2vw;
			margin-top: 2vw;

		}
		.logo-navbar{
			width: 7.5vw;
			height: 5vw;
		}
		.judul{
			margin-top: 9vw;
			text-align: center;
			font-family: "Helvetica";
			font-size: 1.5vw;
			margin-left: 20vw;
			margin-right: 20vw;
		}
		.main-image{
			background-image: url("https://i.imgur.com/16MbcFv.jpg");
			background-attachment: fixed;
			height: 500px;
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
		}
		.main-image-text{
			text-align: center;
			padding-top: 20vw;
			font-family: "Times New Roman"
			font-size: 4vw;
		}
		mark{
			background-color: white;
    		color: black;
		}
		.program{
			margin-left: 1.5vw;
			margin-right: 1.5vw;
			margin-bottom: 2vw;
			margin-top: 2vw;
		}
		.first-definition{
			background-color: #E1F7E4;
			font-size: 1.4vw;
			font-family: helvetica;
			text-align: center;
		}
		.second-definition{
			font-family: helvetica;
			font-size: 1.4vw;
			text-align: center;
			margin-left: 2vw;
			margin-right: 2vw;
		}